<%- include('admin_header'); -%>

<h2>Administrer l'une de vos salles</h2>
<!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
<ul class="room">
    <% roomOwnedList.forEach(function(room) { %>
	<a class="room" href="/classPanic/room/<%= room.id %>">
	    <li class="room" onclick="alert('yo')">
		<span class="froom"><%= room.name %></span>
		<section>
		    Utiliser le set de questions:
		    <ul class="listSet">
			<% setOwnedList.forEach(function(setQ) { %>
			    <li class="<%= setQ.id==room.questionSet ? 'selected' : ""%>">
				<a href="#"><%= setQ.name %></a>
			    </li>
			<% }); %>
		    </ul>
		</section>
		<!--	      <ul>		
		     <li>Nombre de participants : <%= room.number %></li>
		     <li>Administrateur: <%=room.owner %></li>
		     </ul>-->
		<div>
		    Administrer
		</div>
	    </li>
	</a>
    <% });%>
</ul>

<%- include('admin_footer'); -%>
