<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style_main.css">
  </head>
  <body>
    <div id="main_wrapper">
      <h1>Class Panic</h1>
      <nav>
	<ul>
<!--	      <li><a href="<%= config.PATH %>/admin/room">Administrer</a></li> -->
	      <a href="<%= config.PATH %>/manage/course"><li <%= active == "salles" ? "class=selected" : "" %>>Mes cours</li></a>
	      <a href="<%= config.PATH %>/manage/set"><li <%= active == "sets" ? "class=selected" : "" %>>Mes sets</li></a>
	      <a href="<%= config.PATH %>/manage/stats"><li <%= active == "stats" ? "class=selected" : "" %>>Statistiques</li></a>
<!--	      <li <%= active == "salles" ? 'class="selected"' : "" %>><a href="<%= config.PATH %>/user">Mon compte</a></li>-->
	      <a href="<%= config.PATH %>/"><li <%= active == "etudiant" ? "class=selected" : "" %>>Redevenir étudiant</li></a>
	      <a id="leave" href="<%= config.PATH %>/logout"><li>Se d&eacute;connecter</li></a>
      </nav>
      <div class="wrapper" id="connect_wrapper">
	  <div class="msg">
	    <ul>
	      <% if(typeof msgs == 'object' && msgs) {
		 msgs.forEach(function (msg) { %>
	      <li> <%= msg %> </li>
	      <% });} %>
	    </ul>
	  </div>
