<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style_main.css">
  </head>
  <body>
    <div id="main_wrapper">
      <h1>Class Panic</h1>
      <nav>
	  <ul>
<!--	      <li><a href="<%= config.PATH %>/admin/room">Administrer</a></li> -->
	      <li><a href="<%= config.PATH %>/manage/room">Mes salles</a></li>
	      <li><a href="<%= config.PATH %>/manage/set">Mes sets</a></li>
<!--	      <li><a href="<%= config.PATH %>/user">Mon compte</a></li>-->
	      <li><a href="<%= config.PATH %>/">Redevenir étudiant</a></li>
	      <li><a id="leave" href="<%= config.PATH %>/logout">Se d&eacute;connecter</a></li>
      </nav>
      <div class="wrapper" id="connect_wrapper">
	  <div class="msg">
	    <ul>
	      <% if(typeof msgs == 'object' && msgs) {
		 msgs.forEach(function (msg) { %>
	      <li> <%= msg %> </li>
	      <% });} %>
	    </ul>
	  </div>
