<%- include('admin_header', {active:"salles"}); -%>

<h2>Mes cours :</h2>
<ul class="room">
  <% courseList.forEach(function(course) { %>
  <a class="room" href="<%= config.PATH %>/course/<%= course.courseID %>">
    <li class="room">
      <span class="froom"><%= course.name %></span>
      <ul>
	<li>Responsable : <%= course.fullName %></li>
      </ul>
<!--      <div>
	Rejoindre
      </div> -->
    </li>
  </a>
  <% });%>
</ul>

<%- include('student_footer'); -%>
