<%- include('admin_header'); -%>

<h2> <%= newQuestion ? "Création" : "Modification" %> d'une question</h2>
<!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
<form id="newQuestion" method="post" action="<%= config.PATH %>/manage/set/<%= set.id %>/question/<%= newQuestion ? "create" : (question.id+"/update") %>">
    <ul class="room" id="listeQue">
	<li class="room">
	    <span class="froom">Énoncé :</span>
	    <textarea name="enonce" style="width:100%;height:200px;"><%= question.enonce %></textarea>
	</li>
	<% i = 1 ; question.reponses.forEach( function(reponsePossible) { %>
	    <li class="question" style="background-color:rgba(<%=i-1==question.correct ? "0,75" : "75,0" %>,0,0.5)">
		<span class="froom"> Réponse <%= i-1 %> :</span>
		<textarea class="reponse" name="q<%= i %>" id="q<%= i %>" style="width:100%"><%= reponsePossible.reponse %></textarea>
<!--		<input type="radio" name="correct" value="<%=i-1%>" <%=i-1==question.correct ? "checked" : "" %>> Ceci est la bonne réponse.-->
<!--		<input type="button" onclick="addAnswer()" value="Ajouter une réponse">
     <input type="button" onclick="removeOneElem()" value="Enlever cette réponse"><br>-->
		<div><ul><li style="display:inline-block; margin-left:20px;"><a class="room" onclick="removeElement(this)">Enlever cette réponse</a></li><li style="display:inline-block; margin-left:20px;">Choisir comme réponse correcte</li></ul></div>
	    </li>
	    <% i++;
	    }); %>
	    <div  id="ajoutrep"></div>
	   <li class="room"> <span class="froom">+</span> <!--<input type="button" onclick="addAnswer()" value="Ajouter une réponse"/>--></li>
<!--	    <input type="button" onclick="removeOneElem()" value="Enlever cette réponse">-->
	    <!--	La réponse correcte est : <input type="number" name="correctd" value="<%= question.correct%>">-->
	    <input type="button" value="Enregistrer cette question">
    </ul>
</form>
<% if (!newQuestion) { %>
    <div style="margin:20px";>    Vous pouvez aussi supprimer définitivement cette question :
	<form onsubmit='return confirm("Etes-vous sure de vouloir supprimer la question \"<%= question.enonce%>\" ?");' id="delete" method="post" action="<%= config.PATH %>/manage/set/<%= set.id %>/question/<%= question.id %>/delete">
	    <input type="submit" value="Supprimer cette question"">
	</form>
    </div>
<% } %>
<a href="<%= config.PATH %>/manage/set/<%= set.id %>/">Revenir au set "<%= set.name %>"</a>
<script>
 function addAnswer () {
     a=document.querySelector("#listeQue");
     b = document.createElement("li");
     c=document.querySelector("#ajoutrep");
     d = document.querySelectorAll(".reponse");
     b.innerHTML="<span class=\"froom\"> Réponse "+(d.length)+" :</span><textarea class=\"reponse\" name=\"q"+d.length+"\" id=\"q"+d.length+"\" style=\"width:100%\"></textarea><div><ul><li style=\"display:inline-block; margin-left:20px;\"><a class=\"room\" onclick=\"removeElement(this)\">Enlever cette réponse</a></li><li style=\"display:inline-block; margin-left:20px;\">Choisir comme réponse correcte</li></ul></div>";
     b.style="background-color:rgba(75,0,0,0.5)";
     b.classList.add("question");
     a.insertBefore(b,c);
 }

 
 function renumber() {
     i=0;
     q = document.querySelectorAll(".reponse");
     q.forEach(function (elem) {  
	 elem.previousElementSibling.innerHTML = "Réponse "+ i + " :";
	 elem.name="q"+i;
	 elem.id="q"+i;
	 i++;
     });
 }
 function removeElement(elem) {
     elem.parentNode.parentNode.parentNode.parentNode.remove();
     renumber();
}
</script>
<%- include('admin_footer'); -%>
