<%- include('admin_header', {active:"sets"}); -%>

<% if(subscription.canOwnSet) { %>
    <h2> Vos sets</h2>
    <!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
    <ul class="room">
	<% setOwnedList.forEach(function(setQ) {
	    if(setQ.ownerID == user.id) { %>
	    <a class="room" href="<%= config.PATH %>/course/<%= course.id %>/set/<%= setQ.id %>">
		<li class="room">
		    <span class="froom"><%= setQ.name %></span>
		    <!--	      <ul>		
			 <li>Nombre de participants : <%=// room.number %></li>
			 <li>Administrateur: <%=// room.owner %></li>
			 </ul>-->
		    <!--		<div>
			 <ul> <li> Voir / Modifier </li> </ul>
			 </div> -->
		</li>
	    </a>
	<% }});%>
	<a class="room" onclick="document.querySelector('.windowContainer').classList.toggle('shown');window.scrollTo(0,0)">
	    <li style="cursor:pointer; text-align:center;" class="room">
		<span class="froom">+</span>
	    </li>
	</a>
    </ul>
<% } %>
<% if(setOwnedList.find((setQ) => { return setQ.ownerID != user.id})) { %>
    <h2> Les sets créés par d'autres</h2>
    <!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
    <ul class="room">
	<% setOwnedList.forEach(function(setQ) {
	    if(setQ.ownerID != user.id) { %>
	    <a class="room" href="<%= config.PATH %>/course/<%= course.id %>/set/<%= setQ.id %>">
		<li class="room">
		    <span class="froom"><%= setQ.name %></span>
		    <!--	      <ul>		
			 <li>Nombre de participants : <%=// room.number %></li>
			 <li>Administrateur: <%=// room.owner %></li>
			 </ul>-->
		    <!--		<div>
			 <ul> <li> Voir / Modifier </li> </ul>
			 </div> -->
		</li>
	    </a>
	<% }});%>
    </ul>
<% } %>
<% if(subscription.canOwnSet) { %>
    <div class="windowContainer">
	<div class="window" id="win">
	    <h2> Créer un nouveau cours</h2>
	    <form action="<%= config.PATH %>/course/<%= course.id %>/set/create" method="post" id="formNewSet">
		<p>
		    <input type='text' name="name" placeholder='Nom du nouveau set'>
		</p>
		<p>
		    <input type='submit' value='Créer le set'>
<!--		    <input type='button' onclick="document.querySelector('.windowContainer').classList.toggle('shown')" value='Supprimer la fenetre'>-->
		</p>
	    </form>
	</div>
    </div>
    <script>
     document.querySelector(".windowContainer").addEventListener("click", (ev) => {
	 if(ev.target.classList.contains("windowContainer")) {
	     document.querySelector(".windowContainer").classList.remove("shown");
	 }
     });
    </script>
<% } %>
<%- include('admin_footer'); -%>
