<%- include('admin_header', {active : "course"}); -%>

<h2>Votre cours <%= course.name %> :</h2>

<form action="<%= config.PATH %>/manage/course/<%=course.id%>/update" method="post">
    Name : <input name="name" style="margin:10px;" value="<%= course.name %>"> <br>
    Description : <textarea name="commentaire" rows="10" style="display:block;width:90%; margin:20px" ><%= course.commentaire %></textarea>
    <input type="submit" value="Modifier">
</form>

<h2>Ou le supprimer</h2>

<form onsubmit="return confirm('Etes-vous sure de vouloir supprimer le cours <%=course.name%> ?');" action="<%= config.PATH %>/manage/course/<%=course.id%>/delete" method="post">
    Irréversible : <input type="submit" value="Supprimer le cours <%= course.name%>">
</form>

<a style="display:block; margin:40px;" href="<%= config.PATH %>/manage/course"> Retourner à la liste des cours </a>

<%- include('admin_footer'); -%>
