<%- include('admin_header', {active:"rooms"}); -%>
<h2>Vos salle(s) de classe :</h2>
<ul class="room">
    <% roomOwnedList.forEach(function(room) {  if(room.ownerID == user.id) {%>
	<a class="room" href="<%= config.PATH %>/course/<%= course.id %>/room/<%= room.id %>">
	    <li class="room">
		<span class="froom"><%= room.name %></span>
		<ul>		
		    <li>Type de salle : <%= room.type == 'cc' ? "Salle de TD" : (room.type == "live" ? "Salle de cours" : "Salle de type Inconnu") %></li>
		    <li>Associé au set : <%= setOwnedList.find((set) => {return set.id==room.questionSet}).name %></li>
		</ul>
		<div>
		    <!--		    <ul> -->
 		    <!-- <li> Modifier </li></a> -->
		    <!--	<a class="room" href="<%= config.PATH %>/course/<%= course.id %>/admin/<%= room.id %>"><li> Rentrer dans la salle </li></a> -->
		    <!-- </ul> -->
		</div>
	    </li>
	</a>
    <% }});%>
    <% if(subscription.canOwnRoom) {%>
	<a class="room" onclick="document.querySelector('.windowContainer').classList.toggle('shown');window.scrollTo(0,0)">
	    <li style="cursor:pointer; text-align:center;" class="room">
		<span class="froom">+</span>
	    </li>
	</a>
    <% } %>
</ul>
<% if(subscription.canOwnRoom) {%>
    <div class="windowContainer">
	<div class="window" id="win">
	    <h2> Créer une salle de classe</h2>
	    <form action="<%= config.PATH %>/course/<%= course.id %>/room/create" method="post">
		<p>
		    <input type='text' name="name" placeholder='Nom de la salle'>
		</p>
		<p>
		    <select name="type">
			 <option value='live'>Rythmé par le prof</option>
			 <option value='cc'>Rythmé par les élèves</option>
			 </select>
		    <select name="questionSet">
			<% setOwnedList.forEach( function (set) { %>
			    <option value="<%=set.id%>">
				<%=set.name %>
			    </option>
			<% }); %>
		    </select>
		</p>
		<p>
		    <input type='submit' value='Créer la salle'>
<!--		    <input type='button' onclick="document.querySelector('.windowContainer').classList.toggle('shown')" value='Supprimer la fenetre'>-->
		</p>
	    </form>
	</div>
    </div>
<script>
 document.querySelector(".windowContainer").addEventListener("click", (ev) => {
     if(ev.target.classList.contains("windowContainer")) {
	 document.querySelector(".windowContainer").classList.remove("shown");
     }
 });
</script>
<% } %>
<% if(roomOwnedList.find((room) => {return room.ownerID != user.id})) { %>
    <h2>Les salle(s) de classe créés par d'autres :</h2>
    <ul class="room">
	<% roomOwnedList.forEach(function(room) {
	    if(room.ownerID != user.id) {%>
	    <a class="room" href="<%= config.PATH %>/course/<%= course.id %>/room/<%= room.id %>">
		<li class="room">
		    <span class="froom"><%= room.name %></span>
		    <ul>		
			<li>Type de salle : <%= "Salle de cours" %></li>
			<li>Associé au set : <%= setOwnedList.find((set) => {return set.id==room.questionSet}).name %></li>
		    </ul>
		    <div>
			<!--		    <ul> -->
 			<!-- <li> Modifier </li></a> -->
			<!--	<a class="room" href="<%= config.PATH %>/course/<%= course.id %>/admin/<%= room.id %>"><li> Rentrer dans la salle </li></a> -->
			<!-- </ul> -->
		    </div>
		</li>
	    </a>
	<% }
	});%>
    </ul>
<% } %>    

<%- include('admin_footer'); -%>
