<%- include('admin_header'); -%>

<h2> Vos salles</h2>
<!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
<ul class="room">
    <% roomOwnedList.forEach(function(room) { %>
	    <li class="room">
		<span class="froom"><%= room.name %></span>
		<ul>		
		     <li>Associé au set : <%= room.nameSet %></li>
		<!--	           <li>Administrateur: <%=room.owner %></li> -->
		     </ul>
		<div>
		    <ul>
 			<a class="room" href="<%= config.PATH %>/manage/room/<%= room.id %>"><li> Modifier </li></a>
			<a class="room" href="<%= config.PATH %>/admin/<%= room.id %>"><li> Administrer </li></a>
		    </ul>
		</div>
	    </li>

    <% });%>
    <li class="room">
	<span class="froom">Créer une nouvelle salle</span>
	<div>
	<form id="formNewRoom" action="<%= config.PATH %>/manage/room/create" method="post">
	    <input placeholder="Nom de la room" name="name">
	    <select name="questionSet">
		<% setOwnedList.forEach( function (set) { %>
		    <option value="<%=set.id%>">
			<%=set.name %>
		    </option>
		<% }); %>
	    </select>
	</form>
	    <ul> <li> <span onclick="document.querySelector('#formNewRoom').submit()" style="cursor:pointer">Créer</span> </li> </ul>
	</div>
    </li>
</ul>

<%- include('admin_footer'); -%>
