<%- include('admin_header', {active:"sets"}); -%>
<style>
 .texted {
     color:red;
 }
</style>


<h2> <%= newQuestion ? "Création" : "Modification" %> d'une question</h2>
<!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
<form id="newQuestion" method="post" action="<%= config.PATH %>/course/<%= course.id %>/set/<%= set.id %>/question/<%= newQuestion ? "create" : (question.id+"/update") %>">
    <ul class="room" id="listeQue">
	<li class="room">
	    <span class="froom">Énoncé :</span>
	    <textarea <%= subscription.canSetUpdate ? "" : "readonly" %> name="enonce" style="width:100%;height:50px;" placeholder="Ne sera pas interprété par markdown. Pour les maths, utiliser \(...\) ou \[...\]"><%= question.enonce %></textarea>
	</li>
	<li class="room">
	    <label>
		<span class="froom">Description plus détaillée :</span><br>
		<textarea  <%= subscription.canSetUpdate ? "" : "readonly" %> name="description" style="width:100%;height:200px;" placeholder="Ceci sera interpreté comme du markdown. Par exemple, il est possible de mettre du code en utilisant:

```ocaml
 let id = fun a -> a in 
   id id
```

Utiliser $...$ pour mettre des maths.
"><%= question.description %></textarea>
	    </label>
	</li>
	<label><input name="multi" id="multi" style="vertical-align: middle;" type="checkbox" onchange="toggleMultiAnswer()">Multi-réponses</label><!--<label style="margin-left:10px;"><input type="checkbox">Correction automatique</label>-->
	<% i = 0 ; question.reponses.forEach( function(reponsePossible) { %>
	    <li class="reponse <%= reponsePossible.validity ? "true" : "" %>">
		<span class="froom"> Réponse <%= i %> :</span>
		<textarea  <%= subscription.canSetUpdate ? "" : "readonly" %> placeholder="Ne sera pas interprété par markdown. Pour les maths, utiliser \(...\) ou \[...\]" class="nreponse" name="<%= i %>" id="<%= i %>" style="width:100%"><%= reponsePossible.reponse %></textarea><div class="<%= reponsePossible.texted ? "texted" : "" %>"style="text-align:left;margin:3px;" onclick="toggleText(this)"><input type="hidden" name="text-<%= i %>" value="<%= reponsePossible.texted ? true : false %>"><span><%= reponsePossible.texted ? "Enlever le" : "Ajouter un" %> champs texte</span></div><textarea name="correction-<%= i %>" style="<%= reponsePossible.texted ? "" : "visibility:hidden;" %> display:block; width:100%" placeholder="Vous pouvez rentrer la correction/justification/explication" ><%= reponsePossible.texted ? reponsePossible.correction : "" %></textarea>
	    <% if(subscription.canSetUpdate) { %>
		<div><ul><li style="display:inline-block; margin-left:20px;"><a class="room" onclick="removeElement(this)">Enlever cette réponse</a></li><li style="display:inline-block; margin-left:20px;" onclick="setTrue(this)" class="correct">Choisir comme réponse correcte</li></ul></div>
	    <% } %>
	    </li>
	    <% i++;
	    }); %>
	    <% if(subscription.canSetUpdate) { %>
		<div  id="ajoutrep"></div>
		<li onclick="addAnswer()" class="room"> <span class="froom">+</span></li>
		<input name="correct" id="true" type="hidden" value="<%= question.correct %>">
		<input type="submit" value="Enregistrer cette question">
	    <% } %>
    </ul>
</form>
<% if(subscription.canSetUpdate) { %>
    <% if (!newQuestion) { %>
	<div style="margin:20px";>    Vous pouvez aussi supprimer définitivement cette question :
	    <form onsubmit='return confirm("Etes-vous sure de vouloir supprimer la question \"<%= question.enonce%>\" ?");' id="delete" method="post" action="<%= config.PATH %>/course/<%= course.id %>/set/<%= set.id %>/question/<%= question.id %>/delete">
		<input type="submit" value="Supprimer cette question"">
	    </form>
	</div>
    <% } %>
<% } %>
<a href="<%= config.PATH %>/course/<%= course.id %>/set/<%= set.id %>/">Revenir au set "<%= set.name %>"</a>
<% if(subscription.canSetUpdate) { %>
    <script>
     function toggleText(elem) {
	 elem.classList.toggle("texted");
	 value = elem.querySelector("input").value = elem.querySelector("input").value=="true" ? "false" : "true";
	 elem.nextSibling.style.visibility = elem.nextSibling.style.visibility=="hidden" /* && elem.parentNode.classList.contains("true")*/ ? "visible" : "hidden";
	 text = elem.querySelector("span")
	 if(text.textContent == "Enlever le champs texte")
	     text.textContent = "Ajouter un champs texte";
	 else
	     text.textContent = "Enlever le champs texte";
     }
     
     function returnTextQuestion (i) {
	 return '<div style="text-align:left;margin:3px;" onclick="toggleText(this)"><input type="hidden" name="text-'+i+'" value="false"><span>Ajouter un champs texte</span></div><textarea name="correction-'+i+'" style="visibility:hidden; display:block; width:100%" placeholder="Vous pouvez rentrer la correction/justification/explication" ></textarea>'
     }
     
     function addAnswer () {
	 a=document.querySelector("#listeQue");
	 b = document.createElement("li");
	 c=document.querySelector("#ajoutrep");
	 d = document.querySelectorAll(".reponse");
	 n=d.length;
	 b.innerHTML="<span class=\"froom\"> Réponse "+(n)+" :</span><textarea placeholder=\"Ne sera pas interprété par markdown. Pour les maths, utiliser \\(...\\) ou \\[...\\]\" class=\"nreponse\" name=\""+n+"\" id=\""+n+"\" style=\"width:100%\"></textarea>"+returnTextQuestion(n)+"<div><ul><li style=\"display:inline-block; margin-left:20px;\"><a class=\"room\" onclick=\"removeElement(this)\">Enlever cette réponse</a></li><li style=\"display:inline-block; margin-left:20px;\" onclick=\"setTrue(this)\">Choisir comme réponse correcte</li></ul></div>";
	 //     b.style="background-color:rgba(75,0,0,0.5)";
	 b.classList.add("reponse");
	 a.insertBefore(b,c);
     }
     
     function setTrue(elem) {
	 a=document.querySelector(".true");
	 isMultiAnswer = document.querySelector("#multi").checked;
	 if (a && !isMultiAnswer)
	     a.classList.remove("true");
	 elem.parentNode.parentNode.parentNode.classList.add("true");
	 //     document.querySelector("#true").value=elem.parentNode.parentNode.parentNode.querySelector("textarea").id;
	 document.querySelector("#true").value=document.querySelector(".true textarea").id;
     }
     
     function renumber() {
	 i=0;
	 q = document.querySelectorAll(".nreponse");
	 q.forEach(function (elem) {  
	     elem.previousElementSibling.innerHTML = "Réponse "+ i + " :";
	     elem.name=""+i;
	     elem.id=""+i;
	     i++;
	 });
	 document.querySelector("#true").value=document.querySelector(".true textarea").id;
     }
     function removeElement(elem) {
	 elem.parentNode.parentNode.parentNode.parentNode.remove();
	 renumber();
     }

     function toggleMultiAnswer() {
	 isMultiAnswer = document.querySelector("#multi").checked;
	 if(isMultiAnswer) {
	     document.querySelectorAll(".correct").forEach((button) => {
		 button.textContent = "Changer valeur de vérité";
	     });
	     
	 }
	 else {
	     document.querySelectorAll(".correct").forEach((button) => {
		 button.textContent = "Choisir comme réponse correcte";
	     });
	     
	 }
	 
     }
    </script>
<% } %>
<%- include('admin_footer'); -%>
