<%- include('admin_header', {active : "salles"}); -%>

<h2>Modifier votre salle <%= room.name %></h2>

<form action="<%= config.PATH %>/manage/course/<%= course.id %>/room/<%=room.id%>/update" method="post">
    Name : <input name="name" value="<%= room.name %>"> <br>
    Acutellement avec le set :
    <select name="questionSet">
	<% setOwnedList.forEach( function (set) { %>
	    <option value="<%=set.id%>" <%= set.id==room.questionSet ? "selected" : ""%>>
		<%=set.name %>
	    </option>
	<% }); %>
    </select>
    <input type="submit" value="Modifier">
</form>

<h2>Ou la supprimer</h2>

<form onsubmit="return confirm('Etes-vous sure de vouloir supprimer la salle <%=room.name%> ?');" action="<%= config.PATH %>/manage/room/<%=room.id%>/delete" method="post">
    Irréversible : <input type="submit" value="Supprimer la salle <%= room.name%>">
</form>

<a style="display:block; margin:40px;" href="<%= config.PATH %>/manage/course/<%= room.courseID %>"> Retourner à la liste des rooms </a>

<%- include('admin_footer'); -%>
