<%- include('admin_header', {active:"sets"}); -%>

<h2> Vos sets</h2>
<!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
<ul class="room">
    <% setOwnedList.forEach(function(set) { %>
	<li class="room">
	    <a class="room" href="<%= config.PATH %>/manage/set/<%= set.id %>">
		<span class="froom"><%= set.name %></span>
		<!--	      <ul>		
		     <li>Nombre de participants : <%=// room.number %></li>
		     <li>Administrateur: <%=// room.owner %></li>
		     </ul>-->
		<div>
		    <ul> <li> Voir / Modifier </li> </ul>
		</div>
	    </a>
	</li>
    <% });%>
    <li class="room">
	<span class="froom">Créer un nouveau set</span>
	<div>
	<form id="formNewSet" action="<%= config.PATH %>/manage/set/create" method="post">
	    <input placeholder="Nom du set" name="name">
	</form>
	    <ul> <li> <span style="cursor:pointer" onclick="document.querySelector('#formNewSet').submit()">Créer</span> </li> </ul>
	</div>
    </li>
</ul>
<%- include('admin_footer'); -%>
