<%- include('admin_header', {active:"sets"}); -%>
<style>
 .texted {
     color:red;
 }
</style>


<h2> <%= newQuestion ? "Création" : "Modification" %> d'une question</h2>
<!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
<form id="newQuestion" method="post" action="<%= config.PATH %>/course/<%= course.id %>/set/<%= set.id %>/question/<%= newQuestion ? "create" : (question.id+"/update") %>">
    <ul class="room" id="listeQue">
	<li class="room">
	    <span class="froom">Énoncé :</span>
	    <textarea <%= subscription.canSetUpdate ? "" : "readonly" %> name="enonce" style="width:100%;height:50px;" placeholder="Ne sera pas interprété par markdown. Pour les maths, utiliser \(...\) ou \[...\]"><%= question.enonce %></textarea>
	</li>
	<li class="room">
	    <label>
		<span class="froom">Description plus détaillée :</span><br>
		<textarea  <%= subscription.canSetUpdate ? "" : "readonly" %> name="description" style="width:100%;height:200px;" placeholder="Ceci sera interpreté comme du markdown. Par exemple, il est possible de mettre du code en utilisant:

```ocaml
 let id = fun a -> a in 
   id id
```

Utiliser $...$ pour mettre des maths.
"><%= question.description %></textarea>
	    </label>
	</li>
	<label><input name="multi" id="multi" style="vertical-align: middle;" type="checkbox" onchange="toggleMultiAnswer()">Multi-réponses</label><!--<label style="margin-left:10px;"><input type="checkbox">Correction automatique</label>-->
	<% i = 0 ; question.reponses.forEach( function(reponsePossible) { %>
	    <li class="reponse <%= reponsePossible.validity //? "true" : "false" %>">
		<span class="froom"> Réponse <%= i %> :</span>
		<textarea  <%= subscription.canSetUpdate ? "" : "readonly" %> placeholder="Ne sera pas interprété par markdown. Pour les maths, utiliser \(...\) ou \[...\]" class="nreponse" name="<%= i %>" id="<%= i %>" style="width:100%"><%= reponsePossible.reponse %></textarea>
		<div class="text <%= reponsePossible.texted ? "texted" : "" %>"style="text-align:left;margin:3px;" onclick="toggleText(this)">
		    <input type="hidden" name="text-<%= i %>" value="<%= reponsePossible.texted ? true : false %>">
		    <span><%= reponsePossible.texted ? "Enlever le" : "Ajouter un" %> champs texte</span>
		</div>
		<textarea name="correction-<%= i %>" style="<%= reponsePossible.texted ? "" : "visibility:hidden;" %> display:block; width:100%" placeholder="Vous pouvez rentrer la correction/justification/explication" ><%= reponsePossible.texted ? reponsePossible.correction : "" %></textarea>
		<% if(subscription.canSetUpdate) { %>
		    <div>
			<ul>
			    <li style="display:inline-block; margin-right:20px;">
				<a class="room" onclick="removeElement(this)">Enlever cette réponse</a>
			    </li>
			    <li class="set-true select <%= reponsePossible.validity=="true" ? "selected" : "" %>" >
				Réponse juste
			    </li>
			    <li class="set-to_correct select <%= reponsePossible.validity=="to_correct" ? "selected" : "" %>" >
				Réponse à corriger
			    </li>
			    <li class="set-false select <%= reponsePossible.validity=="false" ? "selected" : "" %>" >
				Réponse fausse
			    </li>
			</ul>
		    </div>
		<% } %>
	    </li>
	    <% i++;
	    }); %>
	    <% if(subscription.canSetUpdate) { %>
		<div  id="ajoutrep"></div>
		<li onclick="addAnswer()" class="room"> <span class="froom">+</span></li>
		<input name="correct" id="true" type="hidden" value="<%= question.correct %>">
		<input type="submit" value="Enregistrer cette question">
	    <% } %>
    </ul>
</form>
<% if(subscription.canSetUpdate) { %>
    <% if (!newQuestion) { %>
	<div style="margin:20px";>    Vous pouvez aussi supprimer définitivement cette question :
	    <form onsubmit='return confirm("Etes-vous sure de vouloir supprimer la question \"<%= question.enonce%>\" ?");' id="delete" method="post" action="<%= config.PATH %>/course/<%= course.id %>/set/<%= set.id %>/question/<%= question.id %>/delete">
		<input type="submit" value="Supprimer cette question"">
	    </form>
	</div>
    <% } %>
<% } %>
<a href="<%= config.PATH %>/course/<%= course.id %>/set/<%= set.id %>/">Revenir au set "<%= set.name %>"</a>
<% if(subscription.canSetUpdate) { %>
    <script src="/javascripts/question.js"></script>
    <script>
     // ICI ajouter les events listener
     document.querySelectorAll(".reponse").forEach((div) => {
//	 let div2 = div;
	 div.querySelector(".select.set-true").addEventListener("click", (ev) => {
	     setValue("true", div);
	 });
	 div.querySelector(".select.set-false").addEventListener("click", (ev) => {
	     setValue("false", div);
	 });
	 div.querySelector(".select.set-to_correct").addEventListener("click", (ev) => {
	     setValue("to_correct", div);
	 });
	 console.log(div)
     });
    </script>
<% } %>
<%- include('admin_footer'); -%>
