<%- include('admin_header', {active : "salles"}); -%>

<% if((subscription.canOwnRoom && user.id == room.ownerID ) || subscription.canAllRoom) {%>
    <h2>Modifier la salle <%= room.name %></h2>
<% } else { %>
    <h2> La salle <%= room.name %></h2>
<% } %>
<% if((subscription.canOwnRoom && user.id == room.ownerID ) || subscription.canAllRoom) {%>
    <form action="<%= config.PATH %>/course/<%= course.id %>/room/<%=room.id%>/update" method="post">
<% } %>
Nom de la salle : <input <%= (subscription.canOwnRoom && user.id == room.ownerID ) || subscription.canAllRoom ? "" : "readonly" %> name="name" value="<%= room.name %>"> <br>
Set associé :
<select <%= (subscription.canOwnRoom && user.id == room.ownerID ) || subscription.canAllRoom ? "" : "readonly" %> name="questionSet">
    <% setOwnedList.forEach( function (set) { %>
	<option value="<%=set.id%>" <%= set.id==room.questionSet ? "selected" : ""%>>
	    <%=set.name %>
	</option>
    <% }); %>
</select>
<br>
Actuellement <select name="type">
<option <%= room.type == "cc" ? "selected" : "" %> value="cc">Rythmé par l'élève</option>
<option <%= room.type == "live" ? "selected" : "" %> value="live">Rythmé par le prof</option>
</select>
<br>
<input type="checkbox" id="open" name="open"" <%= room.status.open ? "checked" : "" %>><label for="open">Ouverture de la salle</label> <br>
<input type="checkbox" id="acceptSubm" name="acceptSubm"" <%= room.status.acceptSubm ? "checked" : "" %>><label for="acceptSubm">La salle accepte les nouvelles soumissions</label> <br>
<input type="checkbox" id="showTruth" name="showTruth"" <%= room.status.showTruth ? "checked" : "" %>><label for="showTruth">La salle montre la correction des réponses</label> <br>
<input type="checkbox" id="showCorrecPerso" name="showCorrecPerso"" <%= room.status.showCorrecPerso ? "checked" : "" %>><label for="showCorrecPerso">La salle montre les commentaires personnels des étudiants corrigés</label> <br>
<input type="checkbox" id="showNotes" name="showNotes"" <%= room.status.showNotes ? "checked" : "" %>><label for="showNotes">La salle montre la note des étudiants corrigés</label> <br>
<% if((subscription.canOwnRoom && user.id == room.ownerID ) || subscription.canAllRoom) {%>
    <input type="submit" value="Modifier">
    </form>
<% } %>
<% if((subscription.canOwnRoom && user.id == room.ownerID ) || subscription.canAllRoom) {%>
    <h2>Ou la supprimer</h2>
    
    <form onsubmit="return confirm('Etes-vous sure de vouloir supprimer la salle <%=room.name%> ?');" action="<%= config.PATH %>/course/<%= room.courseID %>/room/<%=room.id%>/delete" method="post">
	Irréversible : <input type="submit" value="Supprimer la salle <%= room.name%>">
    </form>
<% } %>

<a style="display:block; margin:40px;" href="<%= config.PATH %>/course/<%= room.courseID %>"> Retourner à la liste des rooms </a>

<%- include('admin_footer'); -%>
