<%- include('admin_header', {active:"rooms"}); -%>

<h2>Vos salle(s) de classe :</h2>
<ul class="room">
    <% roomOwnedList.forEach(function(room) { %>
	<a class="room" href="<%= config.PATH %>/course/<%= course.id %>/room/<%= room.id %>">
	    <li class="room">
		<span class="froom"><%= room.name %></span>
		<ul>		
		    <li>Type de salle : <%= "Salle de cours" %></li>
		    <li>Associé au set : <%= setOwnedList.find((set) => {return set.id==room.questionSet}).name %></li>
		</ul>
		<div>
		    <!--		    <ul> -->
 		    <!-- <li> Modifier </li></a> -->
		    <!--	<a class="room" href="<%= config.PATH %>/course/<%= course.id %>/admin/<%= room.id %>"><li> Rentrer dans la salle </li></a> -->
		    <!-- </ul> -->
		</div>
	    </li>
	</a>
    <% });%>
	    <% if(subscription.canRoomCreate) {%>
		<a class="room" onclick="document.querySelector('#win').classList.toggle('shown');window.scrollTo(0,0)">
		    <li style="cursor:pointer; text-align:center;" class="room">
			<span class="froom">+</span>
		    </li>
		</a>
	    <% } %>
</ul>
<% if(subscription.canRoomCreate) {%>
    <div class="window" id="win">
	<h2> Créer une salle de classe</h2>
	<form action="<%= config.PATH %>/course/<%= course.id %>/room/create" method="post">
	    <p>
		<input type='text' name="name" placeholder='Nom de la salle'>
	    </p>
	    <p>
		<!--	    <select name="type">
		     <option value='Type de la room'>Type de salle</option>
		     </select> -->
		<select name="questionSet">
		    <% setOwnedList.forEach( function (set) { %>
			<option value="<%=set.id%>">
			    <%=set.name %>
			</option>
		    <% }); %>
		</select>
	    </p>
	    <p>
		<input type='submit' value='Créer la salle'>
		<input type='button' onclick="document.querySelector('#win').classList.toggle('shown')" value='Supprimer la fenetre'>
	    </p>
	</form>
    </div>
<% } %>

<%- include('admin_footer'); -%>
