<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
<!--    <script src="script.js"></script>-->
  </head>
  <body>
      <div id="answerContainer">
	  <div id="question"></div>
	  <div class="reponse" id="rep0"></div>
	  <div class="reponse" id="rep1"></div>
	  <div class="reponse" id="rep2"></div>
	  <div class="reponse" id="rep3"></div>
	  <div id="leave"><a href="/classPanic/room">Quitter la salle</a></div>
      </div>
      <div id="controlPanel">
	  <div class="controlPanel" id="reveal">Réveler</div>
	  <div class="controlPanel" id="nextQuestion">Passer à la question suivante</div>
	  <!--	      <div class="controlPanel" id="choose">La prochaine question sera</div>-->
	  <ul id="chooseSet">
	    <li style="display:flex; justify-content: space-between;" id="chooseQuestion" onclick="showHideSet()"> Choisir le set de questions : <span class="arrow"> > </span></li>
	    
<!--	      <div class="select">
		  <select name="setQuestion" onchange="setUpdate()" id="setChosen">
		      <option> </option>-->
		      <% setOwnedList.forEach(function(set) { %>
		      <li class="possibleSet" <%= set.id == room.questionSet ? "selected" : "" %>> <%= set.name %></li>
		      <% }); %>
		      <!--		  </select>
					  </div>-->
	  </ul>
	  <ul id="chooseQFromSet">
	    <li id="chooseQuestionNext"> Choisir la question suivante :</li>
	    
	    <% i = set.firstQ ;
	       do { %>
	    <li onclick="setNextQuestionId(this)" id="q<%= set.lQuestion[i].id %>" class="<%= i==room.id_currentQuestion ? "currentQuestion" : (i==set.lQuestion[room.id_currentQuestion].nextQuestion ? "nextQuestion" : "") %>">
	      <%= set.lQuestion[i].enonce %>
	      <%  i = set.lQuestion[i].nextQuestion %>
	    </li>
	    <% } while (i != set.firstQ) %>
	  </ul>
	  <div class="controlPanel" id="stats">
	    <ul>
	      <li style="font-family: Impact, 'Arial Black', Arial, Verdana, sans-serif;"> Ce qu'en disent les élèves : </li>
<!--	      <li id="Georges"> <div style="display:flex; justify-content: space-between;color:green;"> Georges : <div style="color:green;">3</div></div></li>
	      <li> <div style="display:flex; justify-content: space-between;color:red;"> Barmpalias : <font color="red">0</font></div></li>
	      <li> <div style="display:flex; justify-content: space-between;color:white;"> Albert : <font color="">2</font></div></li>-->
	    </ul>
	  </div>
      </div>
      <div id="nbVoters"> </div>
      <script src="/socket.io/socket.io.js"></script>
      <script> room = "<%= room.name %>" </script>
      <script src="/javascripts/student.js"></script>
      <script src="/javascripts/admin.js"></script>
      <script>

	     /*********************************************************************/
	     /*                 Mise en place des event listeners                 */
	     /*********************************************************************/
	
	document.querySelector("#reveal").addEventListener("click", revealResults);
	document.querySelector("#nextQuestion").addEventListener("click", changeQuestionPlease);


	/* De la mise en page */

	showHideSet = function () {
	    document.querySelectorAll('.possibleSet').forEach(function(elem) {elem.style.display=elem.style.display=='none' ? 'block' : 'none'});
	    if(document.querySelector("#chooseQuestion").classList.contains("shown")) {
		document.querySelector("#chooseQuestion").classList.remove("shown");
		document.querySelector("#chooseQuestion").classList.add("hidden");
	    }
	    else {
		document.querySelector("#chooseQuestion").classList.add("shown");
		document.querySelector("#chooseQuestion").classList.remove("hidden");
	    }
	};
	showHideSet();
      </script>
  </body>
</html>
