<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/css_reset.css">
    <link rel="stylesheet" href="/stylesheets/play_student.css">
    <link rel="stylesheet" href="/stylesheets/play_admin.css">
  </head>
  <body>
      <div id="answerContainer">
	<div id="question" onclick="chooseAnswer(-1)"></div>
	<div id="wrapperAnswer">
	</div> 
	  <div id="leave"><a href="<%= config.PATH %>/manage/room">Quitter la salle</a></div>
      </div>
      <div id="controlPanel">
	  <div class="controlPanel" id="reveal">Réveler</div>
	  <div class="controlPanel" id="nextQuestion">Passer à la question suivante</div>
	  <!--	      <div class="controlPanel" id="choose">La prochaine question sera</div>-->
<!--	  <ul id="chooseSet">
	    <li style="display:flex; justify-content: space-between;" id="chooseQuestion" onclick="showHideSet()"> Choisir le set de questions : <span class="arrow"> > </span></li>
	    
		      <% setOwnedList.forEach(function(set) { %>
		      <li class="possibleSet" <%= set.id == room.questionSet ? "selected" : "" %>> <%= set.name %></li>
		      <% }); %>
	  </ul> -->
	  <ul id="chooseQFromSet">
	    <li id="chooseQuestionNext"> Choisir la question suivante :</li>
	    
	    <% set.forEach(function(quest, index) { %>
	    <li onclick="gotoQuestion(<%= quest.id %>)" id="q<%= quest.id %>" class="<%= quest.id==room.id_currentQuestion ? "currentQuestion" :  "" %>">
	      <%= quest.enonce %>
	      <%  //i = set.lQuestion[i].nextQuestion %>
	    </li>
	    <% }); %>
	    <%// } while (i != set.firstQ) %>
	  </ul>
	  <div class="controlPanel" id="stats">
	    <ul>
	      <li style="font-family: Impact, 'Arial Black', Arial, Verdana, sans-serif;"> Ce qu'en disent les élèves : </li>
	    </ul>
	  </div>
      </div>
      <div id="nbVoters"> </div>
      <script src="/socket.io/socket.io.js">
      </script>
      <script>
       var server = "<%= server %>";
       var roomID = <%= room.id %>;
      </script>
      <script src="/javascripts/student.js"></script>
      <script src="/javascripts/admin.js"></script> 
      <script>

	     /*********************************************************************/
	     /*                 Mise en place des event listeners                 */
	     /*********************************************************************/
	
	document.querySelector("#reveal").addEventListener("click", revealResults);
	document.querySelector("#nextQuestion").addEventListener("click", changeQuestionPlease);


	/* De la mise en page */

/*	showHideSet = function () {
	    document.querySelectorAll('.possibleSet').forEach(function(elem) {elem.style.display=elem.style.display=='none' ? 'block' : 'none'});
	    if(document.querySelector("#chooseQuestion").classList.contains("shown")) {
		document.querySelector("#chooseQuestion").classList.remove("shown");
		document.querySelector("#chooseQuestion").classList.add("hidden");
	    }
	    else {
		document.querySelector("#chooseQuestion").classList.add("shown");
		document.querySelector("#chooseQuestion").classList.remove("hidden");
	    }
	};
	showHideSet(); */
      </script>
  </body>
</html>
