<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/style_main.css">
  </head>
  <body>
    <div id="main_wrapper">
      <h1>Quizz Panic</h1>
      <nav>
	<ul>
	  <li><a href="/classPanic/room">Rejoindre une salle</a></li>
	  <%- user.admin ? '<li><a href="/classPanic/manage/room">Administrer</a></li>' : "" %>
	  <li><a href="/classPanic/user">Mon compte</a></li>
	  <li><a id="leave" href="/classPanic/logout">Se d&eacute;connecter</a></li>
      </nav>
      <div class="wrapper" id="connect_wrapper">
	<h2>Se connecter à une salle</h2>
<!--	Vous pouvez vous connecter &agrave; l'une des salles suivantes :-->
	<ul class="room">
	  <% roomList.forEach(function(room) { %>
	  <a class="room" href="/classPanic/room/<%= room.id %>">
	    <li class="room">
	      <span class="froom"><%= room.name %></span>
	      <ul>
		<li>Nombre de participants : <%= room.number %></li>
		<li>Administrateur: <%=room.owner %></li>
	      </ul>
	      <div>
		Rejoindre
	      </div>
	    </li>
	  </a>
	  <% });%>
	</ul>
      </div>
      <div id="footer"> <a id="leave" href="/classPanic/logout">Se deconnecter (<%= user.pseudo %>)</a></div>
    </div>
  </body>
</html>
